.activity__list {
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  display: flex;
}

.activity__card {
  background: var(--white-light);
  border-radius: .5rem;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  display: flex;
  box-shadow: 1px 1px 6px #0000001a;
}

.activity__card__icon {
  aspect-ratio: 1;
  background: var(--blue-light);
  color: var(--blue-primary);
  border-radius: 52px;
  width: 40px;
  height: 40px;
  padding: .5rem;
  overflow: hidden;
}

.activity__card--alert .activity__card__icon {
  background: var(--red-light);
  color: var(--red-primary);
}

.activity__card__content {
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  font-size: 1rem;
  display: flex;
}

.activity__card__content__top {
  justify-content: space-between;
  display: flex;
}

.activity__card__content__top__left {
  flex-direction: column;
  display: flex;
}

.activity__card__content__top__left span:nth-child(2) {
  color: var(--blue-primary);
  font-size: .8rem;
}

.activity__card--alert .activity__card__content__top__left span:nth-child(2) {
  color: var(--red-primary);
}

.activity__card__content__top__right {
  color: var(--dark-light);
  font-size: .8rem;
}

.activity__card__content__bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.activity__card__content__bottom span:first-child {
  color: var(--dark-light);
  align-items: center;
  font-size: .9rem;
  display: inline-flex;
}

.activity__card__content__bottom span:first-child svg {
  color: var(--dark-light);
  width: 1.5rem;
  height: 1.5rem;
}

.activity__card__content__bottom span:nth-child(2) {
  color: var(--dark-light);
  font-size: .8rem;
  font-weight: 500;
}

header {
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
  display: flex;
}

.header__greating {
  flex-direction: column;
  display: flex;
}

.header__greating span:first-child {
  color: var(--dark-light);
  font-size: 1rem;
  font-weight: 400;
}

.header__greating span:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 700;
}

.header__image {
  aspect-ratio: 1;
  border-radius: 52px;
  width: 52px;
  height: 52px;
  overflow: hidden;
}

.header__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card, .service, .activity {
  margin-bottom: 2rem;
}

.card__coursel {
  display: flex;
  overflow-x: hidden;
}

.card__coursel__item::-webkit-scrollbar {
  display: none;
}

.card__coursel__item {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  overflow-x: scroll;
}

.cc {
  background: linear-gradient(-45deg, cyan 0%, var(--blue-primary) 100%);
  color: #fff;
  border-radius: .9rem;
  flex-direction: column;
  flex-shrink: 0;
  width: 85.6mm;
  height: 53.98mm;
  padding: 1rem;
  display: flex;
  box-shadow: 1px 1px 10px #0000001a;
}

.cc--white {
  background: linear-gradient(-45deg, var(--white-primary) 0%, var(--white-light) 100%);
  color: var(--dark-primary);
}

.cc__head {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.cc__head img {
  object-fit: cover;
  border-radius: .2rem .2rem 0 0;
  width: auto;
  height: 50px;
}

.cc__head span {
  font-weight: 800;
}

.cc__content {
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  display: flex;
}

.cc__bottom {
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-weight: 800;
  display: flex;
}

.cc__bottom img {
  object-fit: cover;
  border-radius: .2rem;
  width: auto;
  height: 20px;
}

.service__list ul {
  justify-content: space-between;
  padding: 0 1rem;
  list-style: none;
  display: flex;
}

.service__list ul a {
  color: var(--dark-light);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: .8rem;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.service__list ul a .service__list__icon {
  aspect-ratio: 1;
  background: var(--blue-light);
  color: var(--blue-primary);
  border-radius: 52px;
  width: 40px;
  height: 40px;
  padding: .5rem;
  overflow: hidden;
}

/*# sourceMappingURL=index.a3ea36aa.css.map */
