@import url("./components/activity-card.css");

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0;
}

.header__greating {
  display: flex;
  flex-direction: column;
}
.header__greating span:nth-child(1) {
  color: var(--dark-light);
  font-size: 1rem;
  font-weight: 400;
}
.header__greating span:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 700;
}

.header__image {
  height: 52px;
  width: 52px;
  aspect-ratio: 1/1;
  border-radius: 52px;
  overflow: hidden;
}

.header__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ================== */
.card,
.service,
.activity {
  margin-bottom: 2rem;
}

.card__coursel {
  display: flex;
  overflow-x: hidden;
}

.card__coursel__item::-webkit-scrollbar {
  display: none;
}

.card__coursel__item {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 1rem 0;
  gap: 1rem;

  /* Hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* ========================================= */
.cc {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 53.98mm;
  width: 85.6mm;
  background: linear-gradient(-45deg, cyan 0%, var(--blue-primary) 100%);
  border-radius: 0.9rem;
  padding: 1rem;
  color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.cc--white {
  background: linear-gradient(
    -45deg,
    var(--white-primary) 0%,
    var(--white-light) 100%
  );
  color: var(--dark-primary);
}

.cc__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cc__head img {
  height: 50px;
  width: auto;
  object-fit: cover;
  border-radius: 0.2rem 0.2rem 0 0;
}
.cc__head span {
  font-weight: 800;
}

.cc__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
}

.cc__bottom {
  display: flex;
  margin-top: auto;
  font-weight: 800;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.cc__bottom img {
  height: 20px;
  width: auto;
  object-fit: cover;
  border-radius: 0.2rem;
}

/* ================ */
.service__list ul {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  list-style: none;
}
.service__list ul a {
  text-decoration: none;
  color: var(--dark-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
}
.service__list ul a .service__list__icon {
  height: 40px;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 52px;
  overflow: hidden;
  padding: 0.5rem;
  background: var(--blue-light);
  color: var(--blue-primary);
}
