:root {
  --lime-primary: #e5f0b6;
  --dark-primary: #2f241f;
  --dark-light: #667085;
  --dark-light-2: #cfcfcf;
  --white-primary: #ffffff;
  --brown-primary: #817253;
  --blue-primary: #3570c9;
  --blue-light: #e4ecff;
  --red-primary: #ec1a5b;
  --red-light: #fceaee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--lime-primary);
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: var(--dark-primary);
}

button {
  background: transparent;
  outline: none;
  border: none;
}

#app {
  max-width: 425px;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem 0;
  background: var(--white-primary);
  position: relative;
}

/* =========================================== */
.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.card__header span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark-light);
}
.card__header a {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--dark-light);
}

/* =========================================== */
nav {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  max-width: 425px;
  margin-left: -1rem;
  background: var(--white-primary);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 1rem 2rem;
  list-style: none;
}

nav ul li a {
  display: inline-flex;
  text-decoration: none;
  color: var(--dark-light-2);
  font-size: 0.8rem;
  height: 32px;
  width: 32px;
}
nav ul li a.nav__active {
  position: relative;
  /* margin-bottom: 1rem; */
  color: var(--blue-primary);
}
nav ul li a.nav__active::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 2em;
  background: var(--blue-primary);
  bottom: 0;
  left: 50%;
  translate: -50% 50%;
}
